<!DOCTYPE html>
<html>

<head>
    <title>海外攻略</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <style>
        a {
            color: white;
        }

        .imgbox:after {
            position: relative;
            content: '';
            display: block;
            width: 0;
            height: 0;
            visibility: hidden;
            clear: both;
        }

        .imgbox li {
            list-style: none;
            float: left;
            width: 33.3%;
            height: 400px;
            /* margin: 3px; */
            overflow: hidden;
        }

        .imgbox li image {
            width: 80px;
            height: 400px;
            top: 8 0%;
            /*li高度的一半*/
            transform: translateY(-50%);
            /*再向上移动自身的50%*/
            border: slategray 2px;

        }

        #texing {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <ul class="nav nav-tabs" style="background-color: black;">
        <li><a href="/xqxq.html">星宿主页</a></li>
        <li><a href="/aibiyin.html">攻略攻略</a></li>
        <li><a href="/">登录|注册</a></li>
        <li><a href="/test/contact.html">联系我们</a></li>
    </ul>

    <div class="row" style="background-color: black;height: 800px;">
        <div class="container">
            <div id="box">
                <h4 style="color: white;">吉隆坡, 马来西亚自然景观和户外活动户外活动远足</h4>
                <ul class="imgbox">
                    <li><img src="images/gl1.jpg" alt=""></li>
                    <li><img src="images/gl2.jpg" alt=""></li>
                    <li><video controls="" autoplay="autoplay" name="media"><source src="images/gl1.mp4" type="video/mp4"><ideo></ideo></li>
                </ul>
            </div>
        </div>
        <div class="container" style="color: white;">
            <div class="row">
                <div class="col-xs-3">
                    <p>徒步</p>
                    <h3>雨林瀑布徒步游泳之旅</h1>
                        <h4>Kuala Lumpur, 马来西亚</h4>
                        <p>4.99（577）</p>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-sx-6" id="texing" style="margin-top: 70px;">
                    <div>
                        <p><span class="glyphicon glyphicon-check"></span></p>
                        <p>时长</p>
                        <p>7小时</p>
                    </div>
                    <div>
                        <p><span class="glyphicon glyphicon-briefcase"></span></p>
                        <p>团体人数</p>
                        <p>最多6位参与者</p>
                    </div>
                    <div>
                        <p><span class="glyphicon glyphicon-cutlery"></span></p>
                        <p>包括</p>
                        <p>交通，装备器材</p>
                    </div>
                    <div>
                        <p><span class="glyphicon glyphicon-paperclip"></span></p>
                        <p>体验语言</p>
                        <p>英语</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h2>体验内容</h2>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-6">
            <h4 style="color: gray;">
                包括徒步旅行后在黑风洞下车的选项。

                这是每天最多可容纳6位客人的理想小组活动。从市中心出发的背包旅行，距繁忙的旅游吉隆坡仅40分钟车程。完美的休闲之地，可体验当地社区的日常生活。

                在精心挑选的当地餐厅享用正宗的当地美食。早餐和午餐都提供素食。

                步行是相同的方式，也是相同的方式。整个足迹都在热带雨林的浓密树冠下。提供远足杖和水上运动鞋。

                提示：我们会在马来西亚尽早开始所有户外活动，以免造成下午高温。

                这条小径始于一个土著村庄，该村庄以其季节性野生热带水果农场而闻名。我们将徒步穿越清晰的混合地形，到达520米处的避风港，到达3个美丽的垂直瀑布。

                我们将在瀑布中游泳，并尽享自然美景。使用高品质无反光镜相机进行免费专业摄影，抛开自拍杆，让我为您捕捉回忆。

                这种有益的远足需要大量的步行，期望出汗。不论风雨无阻，远足都会继续。
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h2>您的体验达人</h2>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-6">
            <h3>Thomas</h3>
            <h4 style="color: gray;">
                我享受大自然带来的宁静，使之远离城市的网格。我的办公室全是绿色的。在吉隆坡出生和长大，是训练有素的合格急救指南。我喜欢认识新朋友。远足活动吸引了独特的个性。寻找来自不同大陆的人的兴趣相似之处，这是无价的机会。我喜欢拍照，所以不要害羞摆姿势。总而言之，我正在创造美好的回忆。
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h2>包含的项目</h2>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-6">
            <h3>交通&装备器材</h3>
            <h4 style="color: gray;">其他物品需要自备</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h2>已参与者评价</h2>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-6">
            <hr>
            <div class="media">
                <div class="media-left media-middle">
                    <img src="images/pj4.jpg" class="img-circle" style="width:80px">
                </div>
                <div class="media-body">
                    <h3><span style="font-weight: 300;">Jenna</span>-2019年8月</h3>
                    <p><span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                    </p>
                    <h5>My husband and I picked this experience at the last minute and Thomas was able to connect and
                        provide info right away. We are both city people but loved the hike, it was a fun challenge and
                        amazing to look back at what we were able to do! Thomas was able to guide us at every step,
                        share his experiences, knowledge of the area, and keep us well entertained. Amazing experience,
                        even more so if you like hiking and being outdoors!</h5>
                </div>
                <br>
                <div class="media-left media-middle">
                    <img src="images/pj5.jpg" class="img-circle" style="width:80px">
                </div>
                <div class="media-body">
                    <h3><span style="font-weight: 300;">Lilian</span>-2019年10月</h3>
                    <p><span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                    </p>
                    <h5>Such an amazing experience! Thomas is a wonderful host and really makes the whole trip worth it.
                        The hike was beautiful and exactly as he described. Thomas accommodated for everyone’s skill
                        level and made the whole walk fun! I would 110% recommend this experience to anyone wanting to
                        get out of the city for some nature and adventure!</h5>
                </div>
                <br>
                <div class="media-left media-middle">
                    <img src="images/pj6.jpg" class="img-circle" style="width:80px">
                </div>
                <div class="media-body">
                    <h3><span style="font-weight: 300;">Anna-Maria</span>-2019年11月</h3>
                    <p><span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                    </p>
                    <h5>This is a very cool opportunity to experience Malaysia in an unusual and active way. The hike is
                        very scenic and of moderate difficulty. Thomas is very jovial and well-humoured, actively
                        encouraging his guests. He manages to create a convivial atmosphere making for a very special
                        experience.</h5>
                </div>
                <br>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
            </div>
        </div>
        <address><a href="index.html"><img src="/images/logo.png" alt="風の家"></a>
            <p>
                四川大学江安校区<br>
                TEL:123-456-789
            </p>
        </address>
        <small>&copy; 2019 Planet Program. Designed by <a href="/test/contact.html">US</a> </small>
    </footer>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>