<!DOCTYPE html>
<html>

<head>
    <title>成都攻略</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <style>
        a {
            color: white;
        }

        .imgbox:after {
            position: relative;
            content: '';
            display: block;
            width: 0;
            height: 0;
            visibility: hidden;
            clear: both;
        }

        .imgbox li {
            list-style: none;
            float: left;
            width: 33.3%;
            height: 400px;
            /* margin: 3px; */
            overflow: hidden;
        }

        .imgbox li image {
            width: 80px;
            height: 400px;
            top: 8 0%;
            /*li高度的一半*/
            transform: translateY(-50%);
            /*再向上移动自身的50%*/
            border: slategray 2px;

        }

        #texing {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <ul class="nav nav-tabs" style="background-color: black;">
        <li><a href="/xqxq.html">星宿主页</a></li>
        <li><a href="/aibiyin.html">攻略攻略</a></li>
        <li><a href="/">登录|注册</a></li>
        <li><a href="/test/contact.html">联系我们</a></li>
    </ul>


    <div class="row" style="background-color: black;height: 800px;">
        <div class="container">
            <div id="box">
                <h4 style="color: white;">成都，中国/艺术和文化/艺术和摄影</h4>
                <ul class="imgbox">
                    <li><img src="images/1.jpg" alt=""></li>
                    <li><img src="images/2.jpg" alt=""></li>
                    <li><video controls="" autoplay="autoplay" name="media"><source src="images/gl2.mp4" type="video/mp4"><ideo></ideo></li>
                </ul>
            </div>
        </div>
        <div class="container" style="color: white;">
            <div class="row">
                <div class="col-xs-3">
                    <p>摄影</p>
                    <h3>美好灯都一天行，用镜头记录你的时光</h1>
                        <h4>成都市，中国</h4>
                        <p>5.0（8）</p>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-sx-6" id="texing" style="margin-top: 70px;">
                    <div>
                        <p><span class="glyphicon glyphicon-check"></span></p>
                        <p>时长</p>
                        <p>3小时</p>
                    </div>
                    <div>
                        <p><span class="glyphicon glyphicon-briefcase"></span></p>
                        <p>团体人数</p>
                        <p>最多6位参与者</p>
                    </div>
                    <div>
                        <p><span class="glyphicon glyphicon-cutlery"></span></p>
                        <p>包括</p>
                        <p>门票</p>
                    </div>
                    <div>
                        <p><span class="glyphicon glyphicon-paperclip"></span></p>
                        <p>体验语言</p>
                        <p>简体中文</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h2>体验内容</h2>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-6">
            <h4 style="color: gray;">
                体验将会去一些街头巷尾，远离旅游路径的景点，同时还可以捕捉成都的著名地区，带你一起探店，发现不一样的成都。同时为你拍下值得记录的照片，让你的旅行照片像一个城市探险家，旅行家，或一对浪漫的情侣在蜜月旅行，或与闺蜜的搞怪写真。
                我会和你一起漫步在成都的街头，开起一段不一样的成都之旅，赵雷的《成都》唱出了成都的美好，“和我在成都的街头走一走”歌词里的成都令人向往，带你体验最成都路线，和你一起聊成都的故事，同时还会为你拍摄满意的照片。游览成都的美景，我可以为你安排最独特的路线，你也可以和我沟通来安排你的行程。
                首先，我们会在文殊院见面，我们会在文殊院体验闹市中的宁静，去尝尝张二家的甜水面，面条粗红软硬，一切都刚刚好调料的搭配。或者去品一品香园的盖碗茶。然后去u37创意工厂，u37是一个隐藏在老居民楼里的创意园，由废弃仓库改造而来的地方，有园区内的绿化同它厚重的历史沉淀一样保留完整，绿树成荫，藤蔓遍布建筑外观。在这里逛一逛，会体验到不同于宽窄巷子和锦里的成都。(当然你还有更多的选择，适合文艺拍照的方所书店，人民公园的鹤鸣茶馆，来成都必去的宽窄巷子和锦里，大慈寺等，都可以直接和我沟通），希望我们能开启一段愉快的拍照之旅。（跟拍，私人写真可以联系）
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h2>您的体验达人</h2>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-6">
            <h3>燕</h3>
            <h4 style="color: gray;">
                从小我就非常喜欢摄影，有过五年的绘画经历，这些绘画的经历给我的摄影之路奠定了一定的摄影基础，让我能拍出更加好看的照片，我能为你量身制定适合你的照片风格，也能为你拍摄文艺的街拍照片，我会带你在成都边拍玩边吃边拍照，带你体验成都的书店，有名的川菜馆子，我会用镜头记录下你的每一瞬间，带你体验成都的慢生活。我们可以一边拍照一边聊天，我们也可以一起交流摄影的体验
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h2>包含的项目</h2>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-6">
            <h3>门票</h3>
            <h4 style="color: gray;">拍摄的所有底片和十张调色加修片的成片</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <h2>已参与者评价</h2>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-6">
            <hr>
            <div class="media">
                <div class="media-left media-middle">
                    <img src="images/pj1.jpg" class="img-circle" style="width:80px">
                </div>
                <div class="media-body">
                    <h3><span style="font-weight: 300;">舒文</span>-2019年8月</h3>
                    <p><span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                    </p>
                    <h5>很棒的体验</h5>
                </div>
                <br>
                <div class="media-left media-middle">
                    <img src="images/pj2.jpg" class="img-circle" style="width:80px">
                </div>
                <div class="media-body">
                    <h3><span style="font-weight: 300;">某某</span>-2019年10月</h3>
                    <p><span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                    </p>
                    <h5>超温柔的小镁铝~</h5>
                </div>
                <br>
                <div class="media-left media-middle">
                    <img src="images/pj3.jpg" class="img-circle" style="width:80px">
                </div>
                <div class="media-body">
                    <h3><span style="font-weight: 300;">白白</span>-2019年11月</h3>
                    <p><span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(6, 178, 201);"></span>
                    </p>
                    <h5>燕是非常好的女孩子,认真负责,很受照顾,感谢!!</h5>
                </div>
                <br>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
            </div>
        </div>
        <address><a href="index.html"><img src="/images/logo.png" alt="風の家"></a>
            <p>
                四川大学江安校区<br>
                TEL:123-456-789
            </p>
        </address>
        <small>&copy; 2019 Planet Program. Designed by <a href="/test/contact.html">US</a> </small>
    </footer>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>