<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>评论｜星宿</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../stylesheets/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/normalize.css">
  <link rel="stylesheet" href="../stylesheets/skeleton.css">
  <link rel="stylesheet" href="../stylesheets/comment.css" type="text/css">
</head>
<body>
  <header id="top-head" style="background-color: whitesmoke;">
    <div class="container">
      <div class="row">
        <div class="three columns">
          <div id="mobile-head">
            <h1><a href="index.html"><img src="../images/logo.png" alt="風の宿"></a></h1>
            <div id="nav-toggle">
              <div>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

          </div>
        </div>
        <div class="six columns">
          <nav id="global_navi">
            <ul>
              <li class="active"><a href="/xqxq.html">星宿</a></li>
              <li><a href="comment.html">评论</a></li>
              <li><a href="/aby.html">攻略攻略</a></li>
              <li><a href="/">登录 | 注册</a></li>
              <li><a href="contact.html">联系我们</a></li>
            </ul>
          </nav>
        </div>
        <div class="three columns">
          <div class="top-number">
            <p><i class="fa fa-phone-square"></i> 0123-45-6789</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="top">
  </div>


  <p class="text-center">
    <span class="glyphicon glyphicon-chevron-down" style="font-size: 40px;color:gainsboro;"></span>
  </p>
  
  <div id="content">
  </div>
<div id="buttons">
  <button id="p1">第一页</button>
  <button id="p2">第二页</button>
</div>
  
  <footer>
      <div class="container">
          <div class="row">
          </div>
      </div>
      <address><a href="index.html"><img src="/images/logo.png" alt="風の家"></a>
          <p>
              四川大学江安校区<br>
              TEL:123-456-789
          </p>
      </address>
      <small>&copy; 2019 Planet Program. Designed by <a href="/test/contact.html">US</a> </small>
  </footer>
  <script src="../javascripts/swiper.min.js"></script>
  <script src="../javascripts/comment.js" type="text/javascript"></script>
</body>

</html>