<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beautiful People</title>
    <style>
        #i1 {
            width: 70%;
            height: 500px;
        }

        #i2 {
            width: 30%;
            height: 30%;
        }
    </style>

</head>

<body>
    <center>
        <img id='i1' src="../images/contact.jpg" />
        <h1>扫码联系我们</h1>
        <h5>2019-12-16</h5>
        <img id="i2" src="../images/qrcode.jpg" />
    </center>
</body>

</html>