<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="refresh" content="3;url=/" /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='stylesheets/index.css' type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap-4.3.1/dist/css/bootstrap.css" type="text/css">
  </head>
  <body>
    <h1>恭喜您，<%=data%></h1>
    <h1>3秒后返回登录界面</h1>
    
</html>
