<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='stylesheets/index.css' type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap-4.3.1/dist/css/bootstrap.css" type="text/css">
  </head>
  <body>
    <%for (var i=0;i<data.length;i++){ %>
    <h1><%=data[i]%></h1>
    <h1><%=data[i]%></h1>
    <h1><%=data[i]%></h1>
    <h1><%=data[i]%></h1>
    <% } %>
    <button onclick="return window.location.href='http:/test?a=1'">hfhh</button>
    
</html>
